<div class="container">
  <br>
  <h2 *ngIf="enquiries.length==0">
    Any enquiries made for your properties will be validated by us and then shown here. <br>
    You currently have no valid enquiries.
  </h2>
  <button *ngIf="enquiries.length!=0 && !deleteMode" class="btn btn-outline-danger" style="float: right;" (click)="deleteMode=true">Delete Enquiriy(s)</button>
  <button *ngIf="enquiries.length!=0 && deleteMode" class="btn btn-outline-secondary" style="float: right;" (click)="deleteMode=false;cancelDelete();">Cancel</button>
  <button *ngIf="enquiries.length!=0 && deleteMode" class="btn btn-danger" style="float: right;" [disabled]="toDelete.length==0" (click)="confirmDelete()">Confirm Delete</button>
  <table *ngIf="enquiries.length!=0" class="table table-striped">
    <thead>
      <tr>
        <th *ngIf="deleteMode">Select</th>
        <th scope="col">For(title)</th>
        <th scope="col">Message</th>
        <th scope="col">From(email)</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let enquiry of enquiries">
        <td *ngIf="deleteMode"><input type="checkbox" (change)="checkboxChanged($event,enquiry.id)"></td>
        <td>{{enquiry.title}}</td>
        <td>{{enquiry.message}}</td>
        <td>{{enquiry.email}}</td>
        <td>{{enquiry.timestamp.seconds*1000 | date}}</td>
      </tr>
    </tbody>
  </table>
</div>