<br>
<div class="container">
  <h2 *ngIf="properties.length==0">
    The properties you would share with us will be shown here.<br>
    You currently have no properties listed.
  </h2>
</div>
<div class="container" *ngIf="!edit">
  <div class="row">
    <div *ngFor="let property of properties" class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{property.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{property.city}}</h6>
          <p class="card-text" style="color: green;">Rs. {{property.price}}</p>
          <button (click)="editProperty(property)" class="btn btn-outline-primary"><i class="fa fa-pencil"></i> Edit property</button> &nbsp;
          <button (click)="open(content);deleteProperty(property);" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Delete property</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
<app-editproperties [property]="selectedProperty" *ngIf="edit && selectedProperty"></app-editproperties>
<button *ngIf="edit" (click)="edit=false" class="btn btn-secondary">Cancel</button>
</div>
<!--Modal content-->
<ng-template #content let-modal>
    <div class="modal-body">
      <p>Are you sure you want to delete {{selectedProperty.title}}?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close();confirmDelete()">Delete</button>
    </div>
</ng-template>