<div class="bg-gra-01">
  <br>
  <div class="wrapper">
    <div class="card card-3">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">Sign Up</h2>
        <form (ngSubmit)="signup(signupForm)" #signupForm="ngForm">
          <div id="alert" class="alert alert-danger alert-dismissible fade show" style="display:none;">
            {{auth.errmsg}} Try again
            <button type="button" class="close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="input-group">
            <input ngModel class="input--style-3" type="text" placeholder="Userame" name="name" required>
          </div>
          <div class="input-group">
            <input ngModel class="input--style-3" type="email" placeholder="Email" name="email" required>
          </div>
          <div class="input-group">
            <input ngModel class="input--style-3" type="mobile" placeholder="Phone" name="mobile" required>
          </div>
          <div class="input-group">
            <input ngModel class="input--style-3" type="password" placeholder="Password" name="password" required>
          </div>
          <div>
            <button class="btn btn--pill btn--green" [disabled]="!signupForm.valid" type="submit">Submit</button>
          </div>
        </form>
        <br>
        <div class="alert alert-secondary" role="alert" style="font-size:0.8em;">
          Existing user? <a routerLink="/auth/signin" class="alert-link">Sign in here</a>.
        </div>
      </div>
    </div>
  </div>
  <br>
</div>