<div class="container-fluid">
  <br>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <h2>Property Details</h2>
        <h3>{{property.title}}</h3>
        <p>{{property.description}}</p>
        <p style="color: green;">Price: <i class="fa fa-inr" aria-hidden="true"></i> {{property.price}}</p>
        <br>
        <p>Property added by: {{property.ownerName}}</p>
      </div>
      <div class="col-lg-4">
        <img src="{{image | async}}" alt="Property Image" onerror="this.src='assets/images/error_property_image.png'" class="img-thumbnail">
        <br><br>
        <button (click)="showForm=!showForm" class="btn btn-dark btn-block"><i class="fa fa-exclamation-circle"></i> Enquire for this property</button>
        <br>
        <ng-container *ngIf="showForm">
          <form (ngSubmit)="sendEnquiry(enquiryForm)" #enquiryForm="ngForm" >
            <div class="form-group">
              <input ngModel name="message" type="text" class="form-control" placeholder="Enter message" required>
            </div>
            <button type="submit" class="btn btn-info" [disabled]="!enquiryForm.valid">Send</button>
          </form>
        </ng-container>
        <br>
        <div id="alert" class="alert alert-success alert-dismissible fade show" style="display:none;">
          Enquiry message sent successfully.
          <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="erralert" class="alert alert-danger alert-dismissible fade show" style="display:none;">
          Some error occured. Try again later.
          <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="loginalert" class="alert alert-danger alert-dismissible fade show" style="display:none;">
          You need to login for sending enquiries.
        </div>
      </div>
    </div>
  </div>