<div class="body">
  <div *ngIf="mode=='list'" class="container">
    <br>
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-warning" id="dropdownBasic1" ngbDropdownToggle>Sort by</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button (click)="getOrdered('asc')" ngbDropdownItem>Price, low to high</button>
            <button (click)="getOrdered('desc')" ngbDropdownItem>Price, high to low</button>
          </div>
      </div>
      </div>
      <div class="col">
        <form #searchForm="ngForm" (ngSubmit)="search(searchForm.value.city)" class="form-inline my-2 my-lg-0">
          <input ngModel name="city" class="form-control mr-sm-2" type="search" placeholder="Search By City">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Search(Case-sensitive)</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div *ngFor="let property of properties" class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{property.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{property.city}}</h6>
            <p class="card-text" style="color: green;"><i class="fa fa-inr" aria-hidden="true"></i> {{property.price}}</p>
            <a (click)="ViewDetails(property)" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <br>
  <button *ngIf="mode=='single'" class="btn btn-outline-dark" (click)="mode='list'">Back</button>
  <app-singleproperty [property]="selectedProperty" *ngIf="mode=='single' && selectedProperty"></app-singleproperty>
</div>