.body{
    background: url("src\assets\images\index_bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    height: 85vh;
    width: 100vw;
}
h1{
    color: orchid;
    font-size: 3.5em;
}