.body{
    background: linear-gradient(to bottom right, #0099ff 0%, #cc33ff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: coral;
    font-size: 3.5em;
}