<div class="bg-box">
  <br><br>
<div class="container">
  <div class="row">
    <div class="title">Sign in</div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-9">
      <form (ngSubmit)="signin(signinForm)" #signinForm="ngForm">
        <div id="alert" class="alert alert-danger alert-dismissible" style="display: none;">
          {{auth.errmsg}} Try Again
          <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="form-group">
          <div class="input-group mb-4">
            <input ngModel name="email" type="email" class="form-control" placeholder="Email address" required>
          </div> 
        </div>
        <div class="form-group">
          <div class="input-group mb-4">
            <input ngModel name="password" type="password" class="form-control" placeholder="Password" required>
          </div>
        </div>
        <button type="submit" [disabled]="!signinForm.valid" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Sign In</button>
      </form>
      <br>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
  <div class="side">
    Don't have an account?
    <br>
    <a routerLink="/auth/signup" class="btn btn-outline-light">Sign up here</a>
  </div>
</div>