.body{
    background-image: url("src\assets\images\signin_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 89vh;
}
.container{
    background-color: rgba(0,0,0,0.6); 
    width: 50%;
    height: 80%;
    border-radius: 10px; 
}
.title{
    padding: 5px 50px;
    color: white;
    font-size: 3em;
    
    
}